/* change the width of the page */
.md-grid {
  max-width: initial; 
}
/* change the width of the sidebar */
@media only screen and (min-width: 76.25em) {
  .md-sidebar--primary {
    left: 0;
    width: 250px;
  }
}
